body {
    background: honeydew;
    color: black;
}

h1.center {
    text-align: center;
}

table#tableParam {
    width: 700px;
    border: 4px double black;
    /*border-collapse: collapse;*/
    padding: 3px;
    text-align: center;
    font-weight: 600;
    background: darkgray;
}

tr#trParam {
    text-align: center;
    font-weight: 300;
    background: lightgrey;
}

h1.left {
    text-align: left;
    color: red;
}

tr.lain {
    width: 200px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-style: italic;
    line-height: 10%;
}